@font-face {
    font-family: "pacifico";
    src: url(fonts/Pacifico-Regular.woff2);
    font-display: swap;
}
@font-face {
    font-family: "dm sans";
    src: url(fonts/DMSans-VariableFont_opsz\,wght.woff2);
    font-display: swap;
}
@font-face {
    font-family: "Cantarell";
    src: url(fonts/Cantarell-Regular.woff2);
    font-display: swap;
}
@font-face {
    font-family: "reem kufi fun";
    src: url(fonts/ReemKufiFun-VariableFont_wght.woff2);
    font-display: swap;
}
@font-face {
    font-family: "teachers";
    src: url(fonts/Teachers-VariableFont_wght.woff2);
    font-display: swap;
}

body {
    background-color: #ffeebb;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

h3 {
    margin: 0;
}

@keyframes aparecer-up-down {
    from {
        opacity: 0;
        transform: translateY(-12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparecer-down-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    font-family: reem kufi fun;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    align-items: center;
}

.logo-text {
    font-size: 25px;
    color: #fff;
    animation: aparecer-up-down 0.3s;
}

.links-nav {
    display: flex;
    gap: 20px;
}

.nav-element {
    color: #fff;
    transition: color 0.2s;
}
.nav-element:hover {
    color: #e4d84f;
}

.main-container {
    font-family: dm sans;
    display: grid;
    place-items: center;
    margin-top: 80px;
    text-align: center;
}

.title-head {
    margin: 0;
    font-weight: 500;
    animation: aparecer-up-down 0.3s;
}

.title-main {
    font-size: 50px;
    font-family: reem kufi fun;
    padding-right: 10px;
    padding-left: 10px;
    animation: aparecer-up-down 1s;
}

.title-bottom {
    margin: 0;
    font-size: medium;
    animation: aparecer-down-up 1s;
}

.buttons-container {
    display: grid;
    place-items: center;
    margin-top: 25px;
    gap: 12PX;
}

.button-main {
    padding: 10px;
    border-radius: 20px;
    border: none;
    transition: background-color 0.4s;
    animation: aparecer-down-up 0.4s;
    width: 300px;
    cursor: pointer;
    font-family: cantarell;
    font-weight: 600;
}

#button-buy { background-color: #e9a977; }
#button-contact { background-color: #af986c; }

.container-ventas-cards {
    display: flex;
    place-content: center;
    margin-top: 50px;
    gap: 10px;
}

.container-card-style-1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    width: 270px;
    animation: aparecer-down-up 0.7s;
    display: grid;
    place-items: center;
    transition: box-shadow 0.4s;
}

@media (max-width: 920px) {
    .container-ventas-cards {
        display: grid;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .container-card-style-1 {
        width: 190px;
    }
}

.container-card-style-1:hover {
    box-shadow: #c9b169 0 0 15px;
    cursor: pointer;
}

.link-ventas {
    color: #000;
}

.title-venta-main {
    font-size: 30px;
    text-align: center;
    margin: 0;
    font-family: dm sans;
    font-weight: 800;
}

.img-ventas {
    width: 100%;
}

/* END THE STYLE OF INDEX */

/* STYLES FOR MENU SELECTION */

.container-menu {
    display: grid;
    justify-content: center;
    place-items: center;
    padding: 20px;
}

.container-sections {
    display: grid;
    justify-content: center;
    place-items: center;
    gap: 6px;
    padding: 10px;
}

.button-section-cookies {
    font-family: pacifico;
    font-size: x-large;
    border: none;
    width: 350px;
    background-image: url(images/backGalleta.png);
    padding: 20px;
    border-radius: 10px;
    animation: aparecer-down-up 0.6s;
    cursor: pointer;
}

.button-section-sabritas {
    background-image: url(images/backSabritas.png);
    font-family: pacifico;
    font-size: x-large;
    border: none;
    width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    animation: aparecer-down-up 1.2s;
    cursor: pointer;
}

.button-section-bebidas {
    background-image: url(images/backBebidaa.png);
    font-family: pacifico;
    font-size: x-large;
    border: none;
    width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    animation: aparecer-down-up 1.7s;
    cursor: pointer;
}

.button-section-desayunos {
    background-image: url(images/backDesayunos.png);
    font-family: pacifico;
    font-size: x-large;
    border: none;
    width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    animation: aparecer-down-up 2s;
    cursor: pointer;
}

/* END OF SECTIONS STYLES */

.compras-title {
    font-family: dm sans;
    font-weight: 500;
    font-size: x-large;
    padding: 10px;
}

.card-main-compras {
    display: grid;
    place-items: center;
    justify-content: center;
    gap: 2px;
}

.card-venta {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #fff;
    width: 85vw;
    border-radius: 10px;
    gap: 20px;
    animation: aparecer-down-up 1s;
}

.image-container {
    box-shadow: #bbb 0px 0px 5px;
}

.title-1 {
    font-family: league spartan;
    font-size: larger;
}

.description {
    font-family: dm sans;
}

.price {
    font-family: reem kufi fun;
    font-size: larger;
}

.container-choice-buttons {
    display: grid;
    gap: 5px;
}

.choice-button {
    font-size: medium;
    background-color: #f7f0c9;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.choice-button:hover {
    background-color: #f7ebaa;
}

@media (max-width: 920px) {
    .title-1 {
        text-align: center;
    }
    .card-venta {
        width: 80vw;
        display: grid;
        justify-content: center;
        place-items: center;
    }
    .container-choice-buttons {
        display: flex;
        gap: 5px;
    }
}

.pie-pagina {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-foot {
    color: #fff;
}

.container-info-contact {
    display: grid;
    justify-content: center;
    place-items: center;
}

.card-contact {
    background-color: #fff;
    border-radius: 10px;
    padding: 35px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    animation: aparecer-down-up 0.5s;
}

.title-contact {
    font-family: reem kufi fun;
    font-weight: 400;
    text-align: center;
}

.contact-text {
    font-family: dm sans;
    display: grid;
    gap: 10px;
}

p {
    margin: 0;
}

.WhatsApp {
    display: flex;
    align-items: center;
    gap: 5px;
}

.linkGit {
    display: flex;
    align-items: center;
    gap: 5px;
}
