@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=League+Spartan:wght@100..900&family=Reem+Kufi+Fun:wght@400..700&display=swap');

body {
    background-color: #ffeebb;
    padding: 0;
    margin: 0;
}

@keyframes aparecer-up-down {
    from {
        opacity: 0;
        transform: translateY(-12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparecer-down-up {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    font-family: reem kufi fun;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    align-items: center;
}

.logo-text {
    font-size: 25px;
    color: #fff;
    animation: aparecer-up-down 0.3s;
}

.links-nav {
    display: flex;
    gap: 20px;
}

.nav-element {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
}

.nav-element:hover {
    color: #e4d84f;
}

.main-container {
    display: grid;
    place-items: center;
    margin-top: 100px;
    text-align: center;
}

.title-head {
    margin: 0;
    font-family: dm sans;
    font-size: 18px;
    font-weight: 300;
    animation: aparecer-up-down 0.3s;
}

.title-main {
    font-size: 60px;
    font-family: reem kufi fun;
    margin: 0;
    color: #262119;
    animation: aparecer-up-down 1s;
}

a {
    text-decoration: none;
}

.title-bottom {
    font-family: dm sans;
    margin: 0;
    font-size: 15px;
    animation: aparecer-down-up 1s;
}

.buttons-container {
    padding-top: 30px;
    display: grid;
    justify-content: center;
    gap: 12px;
}

.button-buy {
    font-family: dm sans;
    font-size: 15px;
    padding: 10px;
    width: 350px;
    border-radius: 20px;
    border: none;
    background-color: #da8960;
    transition: background-color 0.4s;
    animation: aparecer-down-up 0.4s;
}
.button-buy:hover {
    background-color: #f58046;
    cursor: pointer;
}

.button-contact {
    font-family: dm sans;
    font-size: 15px;
    padding: 10px;
    width: 350px;
    border-radius: 20px;
    border: none;
    background-color: #756a58;
    transition: background-color 0.4s;
    animation: aparecer-down-up 1.2s;
}
.button-contact:hover {
    background-color: #8d7655;
    cursor: pointer;
}

.nav-button {
    width: 30px;
}

.mobile-nav {
    display: none;
}

@media (max-width: 720px) {
    .container-links {
        display: none;
    }
    .mobile-nav {
        display: flex;
    }
}

.container-ventas-cards {
    display: flex;
    place-content: center;
    margin-top: 50px;
    gap: 10px;
}

.container-card-style-1 {
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    width: 270px;
    animation: aparecer-down-up 0.7s;
    display: grid;
    place-items: center;
    transition: box-shadow 0.4s;
}

@media (max-width: 920px) {
    .container-ventas-cards {
        display: grid;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .container-card-style-1 {
        width: 190px;
    }
}

.container-card-style-1:hover {
    box-shadow: #c9b169 0 0 15px;
    cursor: pointer;
}

.link-ventas {
    color: #000;
}

.title-venta-main {
    font-size: 30px;
    text-align: center;
    margin: 0;
    font-family: dm sans;
    font-weight: 800;
}

.img-ventas {
    width: 100%;
}

/* END THE STYLE OF INDEX */

.search-bar {
    display: flex; /* Arrange elements horizontally */
    width: 300px; /* Adjust width as needed */
    margin: 20px auto; /* Center the search bar */
  }
  
  #search-input {
    flex: 1; /* Allow the input field to grow */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }